




/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Utility Clases*/
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}
.text-primory {
    color: red;
}
.text-second {
    color: red;
    font-size: xx-large;
}
.text2 {
    color: deeppink;
    font-size: xx-large;
}
.podtext2 {
    color: hotpink;
    font-size: large;
}
.lead {
    font-size: 20px;
}
.bg-primary {
    background-color: indianred;
}
/*Main styling */
html,body {
    font-family: 'Segoe UI', Tahoma, Gevena, Verdana, sans-serif;
    line-height: 1.7em;
}
a {
    color: black;
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px 0;
}
.text-third {
    color: white;
    font-size: xx-large;
}
.podtext1 {
    color: white;
    font-size: large;
}
ol {
border: 1px solid black;

}

/*padding*/
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0 ; }

.l-heading {
    font-size: 40px;
}
.bg-dark {
    background: indianred;
    color: white;
}
.bg-light {
    background: white;
    color: indianred;
}
.bg-primary{
    background: palevioletred;
    color: black;
}
.clr {
    clear: both;
}

/*utility classes*/
.btn    {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: red;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: green;
    color: brown;
}
.btn-light {
    background: white;
    color: red;
}


/*title, navbar*/
#navbar {
    background-color: indianred;

}
#navbar a {
    color: brown;

}
#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left ;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    background: brown;
    color: black  ;
}
#navbar .logo {
    padding-top: 12px;
    float: left;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}


/*showcase*/
#showcase {
    background: url("https://images.unsplash.com/photo-1601409751311-cbecfe223af4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") no-repeat center center/cover;
    height: 600px;
}
#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 170px;

}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
/*homeinfo*/
#home-info {
    height: 400px;
}
#home-info .info-img {
    float: left;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1613119719948-d53865658a88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80") no-repeat;
    min-height: 100%;
}
#home-info .info-content {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p {
    padding-bottom: 30px;
}
/*features*/
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
.box i {
    margin-bottom: 10px;
}



/*Contact form*/
#contact-form .form-group{
    margin-bottom: 20px
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px green solid;
}
#contact-form textarea {
    height: 200px;
}
#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    color: greenyellow;
}
/*Footer*/
#main-footer{
    text-align: center;
    background-color: indianred;
    color: white;
    padding: 20px;
}





